@font-face {
    font-family: "Libre Baskerville";
    font-weight: 400;
    src: url(LibreBaskerville-400.woff2);
}

@font-face {
    font-family: "Libre Baskerville";
    font-weight: 700;
    src: url(LibreBaskerville-700.woff2);
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 400;
    src: url(SourceCodePro-400.woff2);
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: 700;
    src: url(SourceCodePro-700.woff2);
}

body {
    background-color: #fff;

    font-family: "Libre Baskerville";
    line-height: 1.6em;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 0.8em;
    }
}

main {
    max-width: 60rem;
    margin: 2em auto;
}

#banners {
    position: fixed;
    top: 0;
    left: 0;
}

.banner {
    background-color: #000;
    color: #fff;

    width: calc(100vw - 6px);
    padding: 0.75em;
}

.new-minute a {
    color: #88f;
}

.new-minute a:hover {
    color: #44c;
}

.new-minute a:visited {
    color: #88f;
}

a {
    text-decoration: none;
}

/* usually sup affects line height */
sup {
    vertical-align: top;
    position: relative;
    top: -0.5em;
}

textarea {
    font-family: "Source Code Pro";
    padding: 0.5em;
}

.evilbox {
    background-color: #eee;
    padding: 0.5em;
}

.advertisement {
    margin-bottom: 1em;
}

.code {
    font-family: "Source Code Pro";
    background-color: #eee;
    padding: 0.1em 1em;
}

.collapsed {
    display: none;
}

.webring-embed {
    position: fixed;
    bottom: 1em;
    width: 60rem;
}

@media screen and (max-width: 60rem) {
    .webring-embed {
        width: 80vw;
    }
}

.poll-row {
    margin-bottom: 0.25em;
}

.footnotes {
    font-size: 0.9em;
}