<!DOCTYPE html>

<html>
<head>
  <title>{{title}} - celeste</title>
  <link rel="stylesheet" href="/style.css" type="text/css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="celeste">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{desc}}">
  <meta property="og:image" content=
  "https://pbs.twimg.com/profile_banners/1252277511746183168/1634157849/1500x500">
</head>

<body>
  <div id="new-minutes"></div>
  <main>
    {{body | safe}}
  </main>

  <script type="module">
    import { nanoid } from 'https://cdn.jsdelivr.net/npm/nanoid/nanoid.js'

    function newMinute() {
      var id = nanoid()
      document.getElementById("new-minutes").insertAdjacentHTML("beforeend", `
      <div class="new-minute" id="new-minute-${id}">
        a new minute has dawned&nbsp;
        <a href="#" id="new-minute-ok-${id}">[ok]</a>
        <a href="#" onclick="alert('You cannot cancel the passage of time.')">[cancel]</a>
      </div>
      `)
      document.getElementById(`new-minute-ok-${id}`).addEventListener("click", function() {
        document.getElementById(`new-minute-${id}`).style.display = "none"
      }, true)
    }

    var delay = new Date().getTime() % 60000
    setTimeout(() => {
      newMinute()
      setInterval(newMinute, 60000)
    }, delay)
  </script>
</body>
</html>
