<!DOCTYPE html>

<html>

<head>
  <title>{{title}} &#10087; celeste</title>
  <link rel="stylesheet" href="/style.css" type="text/css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="celeste">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{desc}}">
  <meta property="og:image" content="https://pbs.twimg.com/profile_banners/1252277511746183168/1634157849/1500x500">
</head>

<body>
  <div id="banners"></div>
  <main>
    {% if title == "index" %}
    <a href="javascript:void" id="dont-go-home" class="go-home">&larr; home</a>
    <p id="dont-go-home-text" />
    {% else %}
    <a href="/" class="go-home">&larr; home</a>
    {% endif %}
    {{body | safe}}
  </main>

  <script type="module">
    import { nanoid } from 'https://cdn.jsdelivr.net/npm/nanoid/nanoid.js'

    function randomChoice(list) {
      return list[Math.floor(Math.random() * list.length)];
    }

    function celesteTip() {
      let id = nanoid()
      let tip = randomChoice([
        "nothing is ever a coincidence",
        "you will never experience this moment again",
        "celeste prefers wet celeste food to dry celeste food",
        "celeste will notice and investigate any change in its environment",
      ])

      document.getElementById("banners").insertAdjacentHTML("beforeend", `
      <div class="banner" id="celeste-tip-${id}">
        &#128161; ${tip}&nbsp;
        <a href="javascript:void" id="celeste-tip-ok-${id}">[ok]</a>
      </div>
      `)
      document.getElementById(`celeste-tip-ok-${id}`).addEventListener("click", function () {
        document.getElementById(`celeste-tip-${id}`).style.display = "none"
      }, true)
    }

    function newMinute() {
      let id = nanoid()
      document.getElementById("banners").insertAdjacentHTML("beforeend", `
      <div class="banner" id="new-minute-${id}">
        a new minute has dawned&nbsp;
        <a href="javascript:void" id="new-minute-ok-${id}">[ok]</a>
        <a href="javascript:void" onclick="alert('You cannot cancel the passage of time.')">[cancel]</a>
      </div>
      `)
      document.getElementById(`new-minute-ok-${id}`).addEventListener("click", function () {
        document.getElementById(`new-minute-${id}`).style.display = "none"
      }, true)
    }

    if(Math.random() > 0.8) setTimeout(celesteTip, Math.random() * 5000 + 2000)

    var delay = new Date().getTime() % 60000
    setTimeout(() => {
      newMinute()
      setInterval(newMinute, 60000)
    }, delay)
  </script>
</body>

</html>